# dependencies
node_modules

# testing
.reports
coverage

# artifacts
build
dist

# misc
.DS_Store
.env*
!.env.dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd

# editors
.idea
.vscode
/.parcel-cache/
